* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

header {
    background-color: gainsboro;
    height: 100px;
    width: 100%;
}

.button {
    display: none;
}

input {
    margin-top: 30px;
    margin-left: 30px;
    font-weight: bold;
    color: black;
}

nav {
    display: flex;
    /* background-color: blue; */
    height: 150px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

/* hr {
    width: 100%;
} */

.box{
    background-color: gray;
    width: 250px;
    height: 60px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    /* background-color: brown; */
    justify-content: center;
    align-items: center;
}

.ball {
    background-color: gray;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    text-align: center;
    font-weight: bold;
    padding-top: 80px;
}

aside {
    background-color: gray;
    width: 20%;
}

@media screen and (max-width: 768px) {
    nav {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: column;
    }
    
    .wrapper {
        height: 80%;
    }
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;    
    }

    .button {
        display: block;
        border: 1px solid gray;
        margin-left: 10px;
        background-color: gray;
        width: 2rem;
        height: 2rem;
        text-align: center;
        padding-top: 5px;
    }

    input {
        margin-right: 10px;
        margin-bottom: 25px;
    }

    .ball {
        width: 300px;
        height: 300px;
        border-radius: 0;
    }

    aside {
        height: 20%;
        width: 100%;
        background-color: gainsboro;
    }
    

}

